*,
*:before,
*:after {
  margin: 0;
  padding: 0;
  border: 0;
  box-sizing: border-box;
}
@import url(https://fonts.googleapis.com/css?family=Kaisei+Opti:regular,500,700);
h1,h2,h3,h4,h5,h6 {
  font-weight: inherit;
  font-size: inherit;
}
ul,ol,li {
  list-style: none;
}
button {
  background: none;
	color: inherit;
	border: none;
	padding: 0;
	font: inherit;
	cursor: pointer;
	outline: inherit;
}
input {outline:none;}
::-webkit-scrollbar {
  display: none;
  }
textarea {
  resize: none;
}
body {
  background-color: rgb(234, 199, 147);
  -webkit-hyphens: auto;
  -moz-hyphens: auto;
  -ms-hyphens: auto;
  hyphens: auto;
}
[class*="__container"] {
  max-width: 1600px;
  margin: 0 auto;
  padding: 15px 15px;
}
@media (max-width: 1200px) {
  [class*="__container"] {
      max-width: 970px;
  }
}
@media (max-width: 992px) {
  [class*="__container"] {
      max-width: 750px;
  }
}
@media (max-width: 767px) {
  [class*="__container"] {
      max-width: none;
  }
}
/*
.header {

}
.header__container {
  display: flex;
  gap: 55%;
  /* background-color: rgb(43, 42, 41); 
  background-color: #40403e;
}
.header-title {
  font-size: 60px;
  color: rgb(255, 64, 0);
  font-weight: bold;
}
.header-btn {
  background-color: rgb(0, 119, 255);
  height: 70px;
  width: 200px;
  border-radius: 10px;
  color: #fff;
  font-size: 30px;
  font-weight: bold;
}
.header-btn:hover {
  background-color: rgb(90, 160, 240);
}
.header-btn:active {
  transform: scale(1.2, 1.2);
}

.logo-draft {
  display: flex;
  cursor: pointer;
  width: 24%;
  padding-left: 2%;
}
.logo-card-1 {
  height: 47px;
  /* width: 35px; 
  width: 9%;
  /* width: 19%; 
  background-color:#eba555;
  border-radius: 6px;
  transform: rotate(165deg);
  box-shadow: rgb(0,0,0,0.5) 7px 1px 8px;
}
.logo-card-2 {
  height: 47px;
  /* width: 35px; 
  width: 9%;
  /* width: 19%; 
  background-color: #f6ff00;
  border-radius: 6px;
  transform: rotate(15deg);
  box-shadow: rgb(0,0,0,0.5) 7px 1px 8px;
}
.title-container {
  margin-left: 8%;
  display: flex;
  justify-content: center;
  align-items: center;
}
.logo-title {
  font-size: 40px;
  font-weight: bold;
  font-style:oblique;
  color: #fff;
  font-family: 'Kaisei';
}
*/
/* .main {

}
.main__container {
  /* background-color: rgb(253, 202, 126); 
  background-color: #fff;
  width: 100%;
  /* height: 2000px; 
} */
.form {
 display: flex;
}
.output-section {
  max-height: 500px;
  width: 500px;
}
.output-scope {
  height: 300px;
  width: 450px;
  background-color: #fff;
  border-radius: 10px;
  padding-top: 10px;
  padding-left: 10px;
  font-size: 20px;
  overflow: scroll;
}
.input {
}
.enter-text {
  height: 300px;
  width: 400px;
  border-radius: 10px;
  padding-top: 10px;
  padding-left: 10px;
  font-size: 20px;
}
.btn-section {
  margin-left: 20px;
  margin-top: 110px;
}
.get-btn {
  height: 80px;
  width: 200px;
  background-color: orangered;
  border-radius: 10px;
  color: #fff;
  font-size: 30px;
  font-weight: bold;
}
.get-btn:hover {
  background-color: rgb(243, 135, 95);
}
.get-btn:active {
  transform: scale(1.1,1.1);
}
.new-el-styles {
  width: 400px;
  border-radius: 10px;
  background-color: rgb(181, 176, 176);
  color: #fff;
  font-size: 18px;
  padding-left: 15px;
  margin-bottom: 10px;
  display: flex;
  flex-direction: column;
  gap: 4px;
  box-shadow: rgb(0,0,0,0.5) 5px 5px 5px;
}
@keyframes disappearance {
  0% {
    opacity: 1;
  }
  50% {
    opacity: 0.5;
  }
  100% {
    opacity: 0;
  }
}
.new-el-styles:hover {
  transform: scale(1.022, 1.022);
}
.txt-section-styles {
  overflow-wrap: break-word;
  width: 360px;
  overflow-y:auto;
  padding-bottom: 10px;
}
.close-btn-zone {
  display: flex;
  justify-content: flex-end;
  padding-right: 10px;
}
.close-btn {
  width: 17px;
  height: 23px;
  font-size: 30px;
  cursor: pointer;
}
.flash-cards-section {
  /* height: 1500px; */
  /* position: relative; */
  width: 100%;
  /* background-color: rgb(253, 202, 126); */
  background-color: #fff;
  /* margin-top: 70px; */
  border-radius: 10px;
  display: flex;
  flex-direction: column;
  align-items: center;
}
.addition-card-block {
  height: 100px;
  width: 100%;
  /* background-color: rgb(121, 116, 116); */
  /* border-radius: 10px; */
  display: flex;
  /* gap: 150px; */
  gap: 62%; 
  justify-content: center;
  align-items: center;
  /* border: rgb(45, 44, 44) solid 5px;
  border-radius: 10px; */
  padding-left: 8%;
}
.addition-btn {
  height: 100px;
  width: 100px;
  background-color: #fff;
  border-radius: 50%;
  font-size: 80px;
  font-weight: bold;
  color: rgb(6, 125, 223);
  box-shadow: rgb(0,0,0,0.5) 5px 5px 5px;
}
.addition-btn:hover {
  transform: scale(1.1,1.1);
}
.addition-btn:active {
  transform: scale(1.3,1.3);
}
.setting-card-performance {
  position: relative;
}
.setting-card-performance__window {
  position: absolute;
  top: -91px;
  left: -87px;
  z-index: 2;
  background-color: #fff;
  height: 180px;
  max-width: 180px;
  border-radius: 10px;
  display: flex;
  padding-left: 37px;
  padding-top: 40px;
  padding-right: 20px;
  font-size: 18px;
  overflow-wrap: break-word;
  box-shadow: rgb(0,0,0,0.5) 5px 5px 5px;
  opacity: 1;
}
/* .setting-card-performance__window:hover {
  transform: scale(1.06,1.06);
} */
@keyframes rotateCard {
  /* 0% {
    transform:rotateY(100deg);
  }  */
  /* 50% {
    transform:rotateY(150deg);
  }  */
  100% {
    transform:rotateY(200deg);
  }
}
/* @keyframes rotateCard2 {
  100% {
    transform:rotateY(320deg);
  }
} */
.setting-card-performance__window2 {
  position: absolute;
  top: -91px;
  left: -87px;
  opacity: 0;
  z-index: 1;
  background-color: #fff;
  height: 180px;
  max-width: 180px;
  border-radius: 10px;
  display: flex;
  padding-left: 37px;
  padding-top: 40px;
  padding-right: 30px;
  font-size: 18px;
  overflow-wrap: break-word;
  box-shadow: rgb(0,0,0,0.5) 5px 5px 5px;
  /* transform: rotateY(277deg); */
}
/* .setting-card-performance__window2:hover {
  transform: scale(1.06,1.06);
} */
.next-btn-zone {

}
.next-btn {
  position: relative;
  background-color: rgb(255 115 38);
  height: 51px;
  /* width: 107px; */
  width: 80%;
  border-radius: 10px;
  display: flex;
  align-items: center;
  justify-content: center;
  color: #fff;
  font-size: 25px;
  font-weight: bold; 
  box-shadow: rgb(0,0,0,0.5) 6px 6px 6px; 
  grid-area: upend;
}
/* .next-btn:hover {
  transform: scale(1.1,1.1);
} */
/* .next-btn:active {
  transform: scale(1.2,1.2);
} */
.reverse-btn {
  height: 40px;
  width: 40px;
  fill: white;
}
#reverse-svg {
  fill: white;
}
.next-btn-arrow {
  position: absolute;
  left: 31%;
  width: 30px;
  height: 30px;
  border-left: solid white 5px;
  border-bottom: solid white 5px;
  transform: rotate(223deg);
}
/* .cards-block-wrapper {
  background-color: #f6ff00;
  border: 5px solid rgb(50, 50, 50);
} */
/* .cards-block-container {
  position: relative;
  /* width: 1400px; 
  width: 92%;
  margin-top: 6px;
  /* background-color: #eba555; 
  /* background-color: #ffd9ae; 
  background-color: #ffd9ae;
  border: 5px solid rgb(50, 50, 50);
  border-radius: 10px;
  box-shadow: rgb(0 0 0 / 50%) 5px -8px 10px;
  /* margin-right: 4.5%; 
}
.cards-block-title-container {
  position: absolute;
  border-top-left-radius: 10px;
  border-top-right-radius: 10px;
  top: -45.3px;
  left: 41%;
  /* background-color:#eba555; 
  background-color: #ffd9ae;
  height: 46px;
  /* width: 300px; 
  width: 21%;
  border-top: 5px solid rgb(50, 50, 50);
  border-right: 5px solid rgb(50, 50, 50);
  border-left: 5px solid rgb(50, 50, 50);
  box-shadow: rgb(0,0,0, 0.5) 5px -25px 27px;
  display: flex;
  justify-content: center;
}
.cards-block-title {
  font-size: 28px;
  /* color: #fff; 
  color: #535353;
  font-weight: bold;
  font-family: 'Kaisei';
  font-style: oblique;
} */
.cards-block {
  /* margin-top: 50px; */
  height: 500;
  overflow: hidden;
  width: 100%;
  display: grid;
  /* grid-template-columns: repeat(4, 180px);
  grid-template-rows: repeat(8, 180px); */
  /* grid-template-columns: repeat(4, 290px); */
  grid-template-columns: repeat(4, 22%);
  grid-template-rows: repeat(5000, 340px);
  grid-column-gap: 20px;
  grid-row-gap: 20px;
  /* border: 5px solid rgb(50, 50, 50); */
  justify-content: center;
  /* background-color: #eba555; */
  background-color: #ffd9ae;
  padding-top: 15px;
  padding-bottom: 40px;
  /* border-radius: 10px; */
}


/* .cards-block-species {
  margin-top: 15px;
  background-color: #5a5a58;
  /* padding-left: 15px; 
  width: 89%;
    margin-left: 5%;
    border-radius: 10px;
    
} */
.species-list {
  display: flex;
  /* gap: 5px; */
  /* border-top: 3px solid rgb(50, 50, 50);
  border-bottom: 3px solid rgb(50, 50, 50); */
  border: 3px solid rgb(50, 50, 50);
  width: 100%;
  border-radius: 10px;
  overflow: hidden;
} 
.species-list-item {
  /* font-size: 20px;
  color: white;
  width: 170px; */

}
.species-add-btn {
  font-size: 29px;
  color: white;
  height: 30px;
  width: 80px;
  font-weight: bold;
  background-color: #5a5a58;
  border-right: 4px solid rgb(50, 50, 50);
  border-top-left-radius: 10px;
  border-bottom-left-radius: 10px;
}
.plus-circle {
  /* fill: red; */
  height: 80%;
  width: 80%;
}
@keyframes circleRotate {
  0% {
    transform: rotate(0deg);
  }
  /* 50% {
    transform: rotate(100deg);
  } */
  100% {
    transform: rotate(136deg);
  }
}
@keyframes circleRotateBack {
  0% {
    transform: rotate(136deg);
  }
  /* 50% {
    transform: rotate(100deg);
  } */
  100% {
    transform: rotate(0deg);
  }
}
#plus-circle-svg {

  /* fill: red; */
}
.species-add-input-container {
  /* display: flex; */
  /* margin-right: 160px; */
  /* width: 48%; */
}
.species-add-input-btn {
  height: 80%;
  width: 80%;
  background-color: red;
}
.species-add-input-check-mark {

}
.species-add-input {
  display: none;
  height: 100%;
  width: 0%;
  margin-right: 0px;
  font-size: 22px;
  padding-left: 3%;
  /* border-right: 4px solid rgb(50, 50, 50); */
}
@keyframes inputAppearance {
  0% {
    width: 0%;
    margin-right: 0px;
  }
  50% {
    width: 50%;
    margin-right: 100px;
  }
  100% {
    width: 100%;
    margin-right: 160px;
  }
}
@keyframes inputAppearanceBack {
  0% {
    width: 100%;
    margin-right: 160px;
  }
  50% {
    width: 50%;
    margin-right: 100px;
  }
  75% {
    margin-right: 50px;
  }
  100% {
    width: 0%;
    margin-right: 0px;
  }
}

.species-list-btn {
  font-size: 20px;
  color: white;
  height: 30px;
  /* border-radius: 10px; */
  min-width: 170px;
  /* background-color: #ff7645; */
  background-color: #5a5a58;
  font-weight: bold;
  /* border: 4px solid rgb(50, 50, 50); */
  /* border-top: 4px solid rgb(50, 50, 50);
  border-bottom: 4px solid rgb(50, 50, 50); */
  border-right: 4px solid rgb(50, 50, 50);
  /* border-radius: 10px; */
  /* border-bottom: 4px solid rgb(50, 50, 50);
  border-right: 4px solid rgb(50, 50, 50);
  border-bottom-right-radius: 10px; */
  width: 370px;
  overflow-x: scroll;
}
.species-list-btn:hover {
  background-color: #c2c2bf;
}

.specie-add-btn {
  height: 30px;
  width: 6%;
  background-color: #eaeaea;
  display: none;
  align-items: center;
  justify-content: center;
  border-right: 4px solid rgb(50, 50, 50);
}
.specie-add-btn-check-mark {
  height: 14px;
  margin-bottom: 10px;
  width: 28px;
  border-left: 4px solid rgb(9, 255, 9);
  border-bottom: 4px solid rgb(9, 255, 9);
  border-right: 0px transparent rgb(9, 255, 9);
  border-left: 0px transparent rgb(9, 255, 9);
  transform: rotate(312deg);
}

.created-card {
  /* height: 180px;
  width: 180px;
  position: relative; */
}
/* .side-1 {
  position: absolute;
  z-index: 2;
  background-color: #fff;
  height: 180px;
  width: 180px;
  border-radius: 10px;
  padding-left: 37px;
  padding-top: 5px;
  padding-right: 10px;
  font-size: 18px;
  overflow-wrap: break-word;
  overflow-y: auto;
  box-shadow: rgb(0,0,0,0.5) 5px 5px 5px;
  opacity: 1;
  cursor: pointer;
} */
.side-1 {
  position: absolute;
  z-index: 2;
  height: 450px;
  /* width: 350px; */
  width: 35%;
  border-radius: 10px;
  padding-left: 10px;
  padding-top: 5px;
  padding-right: 10px;
  font-size: 18px;
  /* overflow-wrap: break-word;
  overflow-x: auto; */
  box-shadow: rgb(0,0,0,0.5) 5px 5px 5px;
  opacity: 1;
  cursor: pointer;
  display: flex;
  flex-direction: column;
  gap: 20px;
  border: 1px dash black;
  background-color: rgb(77 77 76);
  color: #fff;
}
.creation-front-txt {
  display: flex;
  justify-content: center;
  font-size: 24px;
  gap: 20px;
}
/* fsz28px */
/* .side-2 {
  position: absolute;
  opacity: 0;
  z-index: 1;
  background-color: #fff;
  height: 180px;
  width: 180px;
  border-radius: 10px;
  padding-left: 37px;
  padding-top: 40px;
  padding-right: 20px;
  font-size: 18px;
  overflow-wrap: break-word;
  overflow-y: auto;
  box-shadow: rgb(0,0,0,0.5) 5px 5px 5px;
  cursor: pointer;
  transform: rotateY(84deg);
} */
.side-2 {
  position: absolute;
  opacity: 0;
  z-index: 1;
  height: 450px;
  /* width: 350px; */
  width: 35%;
  border-radius: 10px;
  padding-left: 10px;
  padding-top: 5px;
  padding-right: 10px;
  font-size: 18px;
  /* overflow-wrap: break-word;
  overflow-x: auto; */
  box-shadow: rgb(0,0,0,0.5) 5px 5px 5px;
  cursor: pointer;
  display: flex;
  flex-direction: column;
  background-color: rgb(77 77 76);
  gap: 20px;
  color: white;
}
@keyframes rotate2 {
  0% {
    transform: rotateY(60deg);
  }
  /* 50% {
    transform: rotateY(20deg);
  } */
  100% {
    transform: rotateY(0deg);
  }
}
/* .card-fncs {
  display: flex;
  justify-content: flex-end;
  border-bottom: 1px solid rgb(246, 237, 237);
  padding-bottom: 10px;
  margin-top: 10px;
  margin-right: 10px;
} */
/* .card-remove-fnc {
  display: flex;
 height: 22px;
 width: 22px;
}
.card-remove-fnc:hover {
  fill: rgb(108, 107, 105);
}
#recycle-bin-svg {
  /* fill:rgb(106, 103, 102); 
  fill:rgb(247, 57, 57);
}
#recycle-bin-svg:hover{
  fill: rgb(108, 107, 105);
} */
.flash-card-img-container {
  display: flex;
  justify-content: center;
  margin-bottom: 60px;
}
.flash-card-img {
  background-color: rgb(109, 107, 106);
  height: 120px;
  width: 95%;
  border-radius: 10px;
}
/* .flash-card-img {
  background-color: rgb(255, 89, 0);
  height: 120px;
  width: 95%;
  border-radius: 10px;
} */
.big-ben {
  height: 180px;
  width: 100%;
  border-radius: 10px;
}
/* .card-content {
  display: flex;
  flex-direction: column;
  gap: 10px;
  border: 4px dashed white;
  height: 100%;
  margin-bottom: 10px;
  margin-top: 5px;
  overflow-wrap: break-word;
  overflow-y: auto;
} */
/* .card-txt {
  width: 100%;
  display: flex;
  overflow-wrap: break-word; 
  overflow-x: auto;
  flex-direction: column;
  align-items: center;
  font-size: 35px;
  font-weight: bold;
} */
/* .pop-up-open-btn {
  height: 52px;
  width: 111%;
  background-color: rgb(255 115 38);
  border-radius: 10px;
  color: #fff;
  font-size: 24px;
  font-weight: bold;
  /* box-shadow: rgb(0,0,0,0.5) 6px 6px 6px; 
  box-shadow: rgb(279 165 61) 3px 5px 0px;
  font-family: 'Kaisei';
  font-style: oblique;
}
.pop-up-open-btn:active {
  transform: scale(1.1,1.1);
  position: relative;
} */
/* .creation-flash-card-pop-up {
  z-index: 10;
  position: absolute;
  top: 11%;
  left: 18%;
  height: 600px;
  width: 64%;
  background-color: rgb(231 231 231);
  border-radius: 10px;
  box-shadow: rgb(0,0,0,0.5) 10px 10px 10px;
  display: flex;
  flex-direction: column;
  overflow: scroll;
}
.display-eclipse {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgb(0,0,0,0.5);
  z-index: 10;
  /* display: none; 
} */
/* .creation-flash-card-pop-up__close-btn-container {
  display: flex;
  justify-content: flex-end;
  padding-right: 15px;
  height: 7%;
}
.creation-flash-card-pop-up__close-btn {
  font-size: 55px;
  color: rgb(115 108 108);
  font-weight: bold;
} */
/* .creation-flash-card-pop-up__content {
  display: grid;
  
} */
/* .content__title-container {
  display: flex;
  justify-content: center;
}
.content__title {
  font-size: 50px;
  font-weight: bold;
  color: rgb(115 108 108);
  margin-bottom: 3%;
} */
/* .flash-card-customization {
  padding: 0 15px;
  display: grid;
  grid-template-columns: 39% 14% 17%;
  grid-template-areas: 
        "display upend settings";
}
.flash-card-display {
  grid-area: display;
} */
/* .flash-card-main-settings {
  display: flex;
  flex-direction: column;
  gap: 16px;
  grid-area: settings;
} */
/* .creation-flash-card-input {
  display: flex;
  flex-direction: column;
}
.creation-flash-card-input-container {

}
.creation-flash-card-input {
  
}
.creation-flash-card-input-input {
  border: 3px solid rgb(255 115 38);
  border-radius: 10px;
  height: 35px;
  /* width: 420px; 
  width: 263%;
  padding-left: 7px;
  font-weight: 500;
  font-size: 18px;
}
.creation-flash-card-input-back {
  border: 3px solid rgb(255 115 38);
  border-radius: 10px;
  height: 35px;
  width: 263%;
  padding-left: 7px;
  font-weight: 500;
  font-size: 18px;
}
.creation-flash-card-input-input:focus {
  box-shadow: rgb(0,0,0,0.5) 5px 5px 5px;
}
.creation-flash-card-input-back:focus {
  box-shadow: rgb(0,0,0,0.5) 5px 5px 5px;
}
.creation-flash-card-input-btn-container {

} */
/* .creation-flash-card-input-btn {
  height: 40px;
  /* width: 120px; 
  width: 66%;
  border-radius: 10px;
  color: white;
  font-weight: bold;
  background-color: rgb(255 115 38);
  box-shadow: rgb(0,0,0,0.5) 4px 4px 4px;
}
.creation-flash-card-input-btn:active {
  transform: scale(1.1,1.1);
} */
/* ======================== */
.flash-card-color-theme {
  display: flex;
  flex-direction: column;
  grid-area: item2;
}
.flash-card-color-theme-title {
  font-size: 20px;
  color: rgb(115 108 108);
  font-weight: bold;


}
.flash-card-color-theme-section {

}
.color-section-list {
  display: flex;
  gap: 10px;
  /* display: grid;
  grid-template-areas: "item1 item2"
                        "item3 item4 item5";
              
  grid-template-columns: repeat(5, 35px);
  grid-column-gap: 10px;
  grid-template-rows: repeat(5, 35px); */
  
}
.color-list-item-styles {


}
.color-section-list-item-1 {
  grid-area: item1;
}
.color-section-list-item-2 {
  grid-area: item2;
}
.color-section-list-item-3 {
  grid-area: item3;
}
.color-section-list-item-4 {
  grid-area: item4;
}
.color-section-list-item-5 {
  grid-area: item5;
}
.color-list-btn-styles {
  height: 35px;
  width: 35px;
  border-radius: 10px;
  box-shadow: rgb(0,0,0,0.5) 3px 3px 3px;
}
/* .color-list-btn-styles:focus {
  border: 3px solid rgb(255, 25, 0);
} */
.item-btn-1 {
  background-color: orange;
}
.item-btn-2 {
  background-color: rgb(14, 198, 180);
}
.item-btn-3 {
  background-color: blueviolet;
}
.item-btn-4 {
  background-color: cornflowerblue;
}
.item-btn-5 {
  background-color: rgb(10, 185, 10);
}
/* .add-flash-card-btn-container {

} */
/* .add-flash-card-btn {
  height: 80px;
  /* width: 250px; 
  width: 141%;
  background-color: rgb(255 115 38);
  color: white;
  font-size: 30px;
  font-weight: bold;
  border-radius: 10px;
  box-shadow: rgb(0,0,0,0.5) 7px 7px 7px;
}
.add-flash-card-btn:active {
  transform: scale(1.1,1.1);
} */
/* ====================== */
/* .created-flash-card-front-side {
  position: absolute;
  z-index: 2;
  height: 340px;
  width: 290px;
  border-radius: 10px;
  padding-left: 10px;
  padding-top: 5px;
  padding-right: 10px;
  font-size: 18px;
  box-shadow: rgb(0,0,0,0.5) 5px 5px 5px;
  opacity: 1;
  cursor: pointer;
  display: flex;
  flex-direction: column;
  gap: 20px;
  border: 1px dash black;
  color: #fff;
} */
/* h450 w350 */
/* .created-flash-card-back-side {
  position: absolute;
  z-index: 1;
  height: 340px;
  width: 290px;
  border-radius: 10px;
  padding-left: 10px;
  padding-top: 5px;
  padding-right: 10px;
  font-size: 18px;
  box-shadow: rgb(0,0,0,0.5) 5px 5px 5px;
  opacity: 0;
  cursor: pointer;
  display: flex;
  flex-direction: column;
  gap: 20px;
  border: 1px dash black;
  color: #fff;
} */
.btn-5 {
  height: 80px;
  width: 200px;
  background-color: red;
  color: white;
  border-radius: 10px;
  font-size: 40px;
}

.search-card-input-container {
  /* display: flex;
  position: relative;
  width: 38%; */
  display: flex;
  width: 100%;
  justify-content: center;
  margin-top: 6px;
}
.seacr-card-input-input {
  /* position: relative; */
  height: 41px;
  width: 30%;
  border-top-left-radius: 10px;
  border-bottom-left-radius: 10px;
  /* border-top-left-radius: 10px;
  border-bottom-left-radius: 10px; */
  font-size: 26px;
  /* padding-left: 15px; */
  padding-left: 1%;
  overflow: hidden;
  border: 3px solid orange;
  font-family: 'Kaisei';
  font-style: oblique;
  background-color: #ffefd1;
}
.seacr-card-input-input:focus {
  box-shadow: rgb(0,0,0,0.5) 7px 7px 7px;
  /* border: 3px solid orange; */
}
.loupe-search-container {
  /* position: absolute;
  left: 64%;
  top: 17.6%; */
  background-color: orange;
  /* width: 4%;  
  height: 5%; */
  /* position: absolute;
  left: 86%;
  width: 14%; */
  height: 41px;
  width: 5%;
  border-top-right-radius: 10px;
  border-bottom-right-radius: 10px;
  display: flex;
  align-items: center;
  justify-content: center;
  cursor: pointer;
}
.loupe-search {
  height: 72%;
  width: 72%;
  transform: rotateY(160deg);
  fill: #fff;
}
#loupe-search-svg {

}
/* .header-menu-list {

}
.menu-list-items {
  display: flex;
  gap: 57%;
  align-items: flex-end;
}
.menu-list-item-1 {
}
.menu-list-item-2 {
}
.menu-list-href-1 {
  font-size: 27px;
  color: #fff;
  text-decoration: none;
  font-family: 'Kaisei';
  font-style: oblique;
  font-weight: bold;
}
.menu-list-href-2 {
  font-size: 27px;
  color: #fff;
  text-decoration: none;
  font-family: 'Kaisei';
  font-style: oblique;
  font-weight: bold;
} */
.recycle-bin-container {
  width: 23%;
}
.recycle-bin-btn {
  height: 52px;
  /* width: 210px; */
  width: 60%;
  background-color: rgb(255 115 38);
  border-radius: 10px;
  color: #fff;
  font-size: 24px;
  font-weight: bold;
  /* box-shadow: rgb(0 0 0 / 50%) 6px 6px 6px; */
  box-shadow: rgb(279 165 61) 3px 5px 0px;
  font-family: 'Kaisei';
  font-style: oblique;
}

.recycle-bin-btn-txt {

}

.flash-card-chose-img-btn {
  height: 35px;
  /* width: 120px; */
  width: 43%;
  background-color: #baa9a3;
  border-radius: 10px;
}

.species-left-shift-btn {
  height: 30px;
  width: 4%;
  background-color:#5a5a58;
  display: flex;
  justify-content: center;
  align-items: center;
  border-right: 4px solid rgb(50, 50, 50);
}
.species-left-shift-btn-arrow {
  height: 20px;
  width: 20px;
  border-left: solid 4px #c6bbbb;
  border-bottom: solid 4px #c6bbbb;
  transform: rotate(43deg);
}
.species-right-shift-btn {
  height: 30px;
  width: 4%;
  background-color:#5a5a58;
  display: flex;
  justify-content: center;
  align-items: center;
  border-left: 4px solid rgb(50, 50, 50);
}
.species-right-shift-btn-arrow {
  height: 20px;
  width: 20px;
  border-left: solid 4px #c6bbbb;
  border-bottom: solid 4px #c6bbbb;
  transform: rotate(225deg);
}
.species-list-items-wrapper {
  display: flex;
  width: 90%;
  overflow: hidden;
}
.species-list-items {
  position: relative;
  display: flex;
  width: 100%;
  /* overflow: hidden; */
  background-color: #5a5a58;
  transition: all 0.7s linear 0.1s;
}
.select-subject-menu-btn {
  height: 20px;
    /* width: 120px; */
    width: 86%;
    color: rgb(115 108 108);
    font-size: 20px;
    font-weight: bold;

}
.select-subject-menu-items {
  display: flex;
  flex-direction: column;
  height: 120px;
  padding-left: 8%;
  padding-top: 5px;
  padding-bottom: 5px;
  overflow: scroll;
  /* border: 2px solid black; */
  border-radius: 10px;
  gap: 5px;
}
.select-subjects-item {
  display: flex;
  gap: 5px;
  position: relative;
  display: flex;
  gap: 5px;
  position: relative;
  background-color: rgb(255 115 38);
  height: 24%;
  padding-left: 4%;
  border-radius: 3px;
  width: 96%;
  color: #fff;
}
.custom-check-box {
  position: absolute;
  left: 0.5%;
  top: 4%;
  height: 21px;
  width: 21px;
  background-color: #fff;
  border-radius: 2px;
  /* z-index: 2; */
}
.select-subject-item-input {
  height: 20px;
}
#checkbox {
  /* position: absolute; */
  /* opacity: 0; */
  /* z-index: 3; */
  height: 21px;
  width: 21px;
  accent-color: rgb(233, 255, 38);
}

.color-side-1 {
  background-color: rgb(114 217 207);
}
/* .color-subject-choise {
  /* display: flex;
  gap: 64%; 
  display: grid;
    grid-column-gap: 14%;
    grid-template-areas: "item1 item2";
    grid-template-columns: 120% 84%;
} */
.select-subject-menu-wrapper {
  border: 2px solid #ff7c00;
  border-radius: 7px;
  grid-area: item1;
  
}